{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3,
      "targets": "ie 11, > 0.2%, last 2 versions, not dead",
      "bugfixes": true,
      "debug": false
    }],
    "@babel/preset-typescript"
  ]
}
